.advantages {
  padding-top: 41px;
}

.advantages__title {
  font-size: 18px;
  margin: 0;
}

.advantages__title--main {
  .text-styles(18px);
  line-height: 26px;
  padding-left: 32px;
  padding-right: 33px;
  box-sizing: border-box;
  text-align: center;
}

.advantages__anounce {
  .text-styles(14px, @black);
  line-height: 25px;
  margin: 0;
  margin-top: 27px;
  padding-left: 32px;
  padding-right: 33px;
  margin-bottom: 6px;
  box-sizing: border-box;
  text-align: center;
}

.advantages__list {
  .list-reset;
  position: relative;
}

.advantages__wrapper {
  width: 100%;
  background-color: rgb(238, 238, 238);
  .text-styles(14px);
  text-align: center;

  &--town {
    background-color: @blue;
    .text-styles(14px, @white);
    padding-top: 80px;
    padding-bottom: 41px;
    box-sizing: border-box;
    position: relative;

    &::before {
      .alter;
      top: 0;
      left: 0;
      width: 100%;
      height: 37px;
      background-image: url("../img/bg-triangle.svg");
      background-position: center 0;
      background-repeat: no-repeat;
      z-index: 10;
    }
  }

  &--bridge {
    background-color: @blue;
    .text-styles(14px, @white);
    padding-top: 40px;
    padding-bottom: 42px;
    box-sizing: border-box;
  }

  &--area {
    padding-top: 28px;
    padding-right: 41px;
    padding-left: 41px;
    padding-bottom: 28px;
    box-sizing: border-box;
  }

  &--road {
    padding-top: 26px;
    padding-right: 57px;
    padding-left: 56px;
    padding-bottom: 28px;
    box-sizing: border-box;
  }

  &--tourists {
    padding-top: 26px;
    padding-right: 35px;
    padding-left: 35px;
    padding-bottom: 28px;
    box-sizing: border-box;
  }
}

.advantages__number {
  display: inline-block;
  padding-top: 11px;
  padding-bottom: 17px;
}

.advantages__description {
  margin: 0;
  line-height: 22px;
  position: relative;

  &--town {
    padding-right: 28px;
    padding-left: 27px;
  }

  &--bridge {
    padding-left: 30px;
    padding-right: 31px;
  }

  &--area::after,
  &--road::after {
    .alter;
    bottom: -27px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: rgb(214, 214, 214);
  }
}

.advantages__container {
  width: 320px;
  height: 260px;
  margin: 0 auto;
  background-color: @yellow;
  overflow: hidden;
}

.advantages__picture--bridge {
  margin-left: -100px;
}

.advantages__container--border {
  display: block;
  width: 320px;
  margin: 0 auto;
  position: relative;
}

.offers-list {
  .list-reset;
  padding-top: 36px;
}

.offers-list__item {
  padding-left: 70px;
  padding-right: 40px;
  padding-bottom: 30px;
  .text-styles(14px);

  &--food {
    padding-bottom: 38px;
  }
}

.offers-list__title {
  display: inline-block;
  .text-styles(18px);
  font-weight: bold;
  margin-bottom: 15px;
  position: relative;
}

.offers-list__icon {
  position: absolute;
  fill: @blue;

  &--house {
    left: -50px;
    top: -10px;
  }

  &--gifts {
    left: -46px;
    top: -13px;
  }

  &--food {
    left: -50px;
    top: -6px;
  }
}

.offers-list__text {
  line-height: 21px;
  margin: 0;
  padding: 0;
}

@media (min-width: @tablet-width) {
  .advantages {
    padding-top: 51px;
  }

  .advantages__title {
    .text-styles(21px, white);

    &--main {
      padding-left: 139px;
      padding-right: 139px;
      .text-styles(21px, @black);
    }

    &--town {
      padding-left: 49px;
      padding-right: 41px;
    }

    &--bridge {
      padding-left: 22px;
      padding-right: 22px;
    }
  }

  .advantages__anounce {
    padding-left: 139px;
    padding-right: 139px;
    padding-bottom: 45px;
  }

  .advantages__item {
    display: flex;
    flex-wrap: wrap;

    &--bridge {
      display: flex;
    }
  }

  .advantages__container--border {
    display: none;
  }

  .advantages__wrapper {
    height: 256px;

    &--town {
      flex-basis: 33%;
      padding: 0;
      padding-top: 45px;
      box-sizing: border-box;

      &::before {
        display: none;
      }
    }

    &--bridge {
      flex-basis: 33%;
      padding: 0;
      padding-top: 43px;
      box-sizing: border-box;
      order: 1;
    }

    &--area {
      min-width: 256px;
      padding: 0;
      padding-top: 42px;
      box-sizing: border-box;
    }

    &--road {
      min-width: 256px;
      padding: 0;
      padding-top: 42px;
      box-sizing: border-box;
    }

    &--tourists {
      min-width: 256px;
      padding: 0;
      padding-top: 42px;
      box-sizing: border-box;
    }
  }

  .advantages__number {
    padding-bottom: 20px;
  }

  .advantages__description {
    &--town {
      padding-left: 49px;
      padding-right: 41px;
    }

    &--bridge {
      padding-left: 30px;
      padding-right: 31px;
    }
  }

  .advantages__container {
    margin: 0 auto;
    flex-grow: 1;
    height: 256px;
  }

  .advantages__picture {
    width: 100%;

    &--bridge {
      margin-left: 0;
    }
  }

  .offers-list {
    margin: 0;
    padding: 0;
    padding-top: 158px;
    padding-bottom: 62px;
    display: flex;
    flex-direction: row;
    align-items: baseline;
  }

  .offers-list__item {
    padding: 0;
    margin: 0;
    text-align: center;

    &--houses {
      order: 1;
      min-width: 261px;
      padding-left: 46px;
      padding-right: 50px;
      box-sizing: border-box;
    }

    &--gifts {
      order: 3;
      min-width: 269px;
      padding-left: 44px;
      padding-right: 52px;
      box-sizing: border-box;
    }

    &--food {
      order: 2;
      min-width: 252px;
      padding-left: 50px;
      padding-right: 50px;
      box-sizing: border-box;
    }
  }

  .offers-list__title {
    .text-styles(21px);
    margin: 0;
    margin-bottom: 20px;
    padding: 0;
  }

  .offers-list__icon {
    &--house {
      .size(75px, 72px);
      left: 0;
      top: -104px;
    }

    &--gifts {
      .size(64px, 75px);
      left: 20px;
      top: -108px;
    }

    &--food {
      .size(77px, 68px);
      left: -22px;
      top: -98px;
    }
  }

  .advantages__item--wrapper {
    display: flex;
    flex-wrap: wrap;
  }

  .advantages__title--sub {
    width: 160px;
    margin: 0 auto;
    color: @black;
  }

  .advantages__description {
    &--area {
      padding-left: 49px;
      padding-right: 48px;
    }

    &--road {
      padding-left: 54px;
      padding-right: 56px;
    }

    &--tourists {
      padding-left: 54px;
      padding-right: 53px;
    }

    &::after {
      display: none;
    }
  }
}

@media (min-width: @tablet-width-only) {
  .advantages__title--sub {
    width: 240px;
    margin: 0 auto;
  }
}

@media (min-width: @desktop-width) {
  .advantages {
    width: @desktop-width;
    margin: 0 auto;
  }

  .advantages__title {
    &--main {
      padding-left: 353px;
      padding-right: 357px;
    }

    &--town {
      width: 200px;
      margin: 0 auto;
      padding-left: 65px;
      padding-right: 65px;
    }

    &--bridge {
      padding-left: 90px;
      padding-right: 90px;
    }

    &--sub {
      width: 160px;
    }
  }

  .advantages__wrapper {
    margin: 0;

    &--town {
      padding: 0;
      padding-top: 53px;
      padding-bottom: 56px;
    }

    &--bridge {
      padding: 0;
      padding-top: 54px;
    }

    &--area {
      width: 400px;
      padding: 0;
      padding-top: 44px;
      padding-left: 8px;
      padding-right: 11px;
    }

    &--road {
      width: 400px;
      padding: 0;
      padding-top: 44px;
      padding-left: 15px;
      padding-right: 15px;
    }

    &--tourists {
      width: 400px;
      padding: 0;
      padding-top: 44px;
      padding-left: 15px;
      padding-right: 15px;
    }
  }

  .advantages__description {
    &--town {
      padding-left: 65px;
      padding-right: 65px;
    }

    &--bridge {
      padding-left: 90px;
      padding-right: 90px;
    }
  }

  .advantages__container {
    overflow: hidden;
  }

  .advantages__picture {
    margin-top: -64px;
  }

  .offers-list {
    padding-bottom: 83px;
  }

  .offers-list__item {
    padding: 0;
    margin: 0;
    text-align: center;

    &--houses {
      min-width: 392px;
      padding-left: 69px;
      padding-right: 68px;
    }

    &--gifts {
      order: 3;
      min-width: 383px;
      padding-left: 73px;
      padding-right: 94px;
      box-sizing: border-box;
    }

    &--food {
      order: 2;
      min-width: 425px;
      padding-left: 65px;
      padding-right: 77px;
      box-sizing: border-box;
    }
  }
}
