.advantages {
  padding-top: 41px;
}

.advantages__title {
  font-size: 18px;
  margin: 0;
}

.advantages__title--main {
  .text-styles(18px);
  line-height: 26px;
  padding-left: 32px;
  padding-right: 33px;
  box-sizing: border-box;
  text-align: center;
}

.advantages__anounce {
  .text-styles(14px, @black);
  line-height: 25px;
  margin: 0;
  margin-top: 27px;
  padding-left: 32px;
  padding-right: 33px;
  margin-bottom: 6px;
  box-sizing: border-box;
  text-align: center;
}

.advantages__list {
  .list-reset;
  position: relative;
}

.advantages__wrapper {
  width: 100%;
  background-color: rgb(238, 238, 238);
  .text-styles(14px);
  text-align: center;

  &--town {
    background-color: @blue;
    .text-styles(14px, @white);
    padding-top: 80px;
    padding-bottom: 41px;
    padding-right: 28px;
    padding-left: 27px;
    box-sizing: border-box;
    position: relative;

    &::before {
      .alter;
      top: 0;
      left: 0;
      width: 100%;
      height: 37px;
      background-image: url("../img/decor-element.png");
      background-position: center 0;
      background-repeat: no-repeat;
    }
  }

  &--bridge {
    background-color: @blue;
    .text-styles(14px, @white);
    padding-top: 45px;
    padding-bottom: 42px;
    padding-left: 30px;
    padding-right: 31px;
    box-sizing: border-box;
  }

  &--area {
    padding: 33px 41px;
    box-sizing: border-box;
  }

  &--road {
    padding: 33px 56px;
    box-sizing: border-box;
  }

  &--tourists {
    padding: 33px 37px;
    box-sizing: border-box;
  }
}

.advantages__number {
  display: inline-block;
  padding-top: 10px;
  padding-bottom: 17px;
}

.advantages__description {
  margin: 0;
  line-height: 20px;
  position: relative;

  &--line::after {
    .alter;
    bottom: -32px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: rgb(214, 214, 214);
  }
}

.advantages__container {
  width: 320px;
  height: 260px;
  margin: 0 auto;
  background-color: @yellow;
  overflow: hidden;
}

.advantages__picture--bridge {
  margin-left: -100px;
}

.advantages__container--border {
  display: block;
  width: 320px;
  margin: 0 auto;
  position: relative;
}

.offers-list {
  .list-reset;
  padding-top: 40px;
}

.offers-list__item {
  padding-left: 70px;
  padding-right: 51px;
  padding-bottom: 40px;
  .text-styles(14px);
}

.offers-list__title {
  display: inline-block;
  .text-styles(18px);
  font-weight: bold;
  margin-bottom: 15px;
  position: relative;
}

.offers-list__icon {
  position: absolute;
  fill: @blue;

  &--house {
    left: -50px;
    top: -10px;
  }

  &--gifts {
    left: -50px;
    top: -13px;
  }

  &--food {
    left: -50px;
    top: -7px;
  }
}

.offers-list__text {
  margin: 0;
  padding: 0;
}

@media (min-width: @tablet-width) {
  .advantages {
    padding-top: 51px;
  }

  .advantages__title {
    .text-styles(21px, white);

    &--main {
      padding-left: 139px;
      padding-right: 139px;
      .text-styles(21px, @black);
    }
  }

  .advantages__anounce {
    padding-left: 139px;
    padding-right: 139px;
    padding-bottom: 45px;
  }

  .advantages__item {
    display: flex;
    flex-wrap: wrap;

    &--bridge {
      display: flex;
    }
  }

  .advantages__container--border {
    display: none;
  }

  .advantages__wrapper {
    min-height: 256px;

    &--town {
      flex-basis: 33%;
      padding: 0;
      padding-top: 45px;
      padding-left: 49px;
      padding-right: 41px;
      box-sizing: border-box;

      &::before {
        display: none;
      }
    }

    &--bridge {
      flex-basis: 33%;
      padding: 0;
      padding-top: 50px;
      padding-left: 30px;
      padding-right: 31px;
      box-sizing: border-box;
      order: 1;
    }

    &--area {
      padding: 0;
      padding-left: 49px;
      padding-right: 48px;
      padding-top: 50px;
      box-sizing: border-box;
    }

    &--road {
      padding: 0;
      padding-left: 61px;
      padding-right: 63px;
      padding-top: 50px;
      box-sizing: border-box;
    }

    &--tourists {
      padding: 0;
      padding-left: 56px;
      padding-right: 55px;
      padding-top: 50px;
      box-sizing: border-box;
    }
  }

  .advantages__number {
    padding-bottom: 23px;
  }

  .advantages__container {
    margin: 0 auto;
    flex-grow: 1;
    height: 256px;

    &--town {
      background-image: url("../img/main-city-tablet@1x.jpg");
      background-size: cover;
      background-repeat: no-repeat;

      @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
        background-image: url("../img/main-city-tablet@2x.jpg");
      }
    }

    &--bridge {
      background-image: url("../img/main-bridge-tablet@1x.jpg");
      background-size: cover;
      background-repeat: no-repeat;

      @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
        background-image: url("../img/main-bridge-tablet@1x.jpg");
      }
    }
  }

  .advantages__picture {
    display: none;
  }

  .offers-list {
    margin: 0;
    padding: 0;
    padding-top: 164px;
    padding-bottom: 66px;
    display: flex;
    flex-direction: row;
    align-items: baseline;
  }

  .offers-list__item {
    padding: 0;
    text-align: center;

    &--houses {
      order: 1;
      padding-left: 51px;
      padding-right: 51px;
    }

    &--gifts {
      order: 3;
      padding-left: 20px;
      padding-right: 46px;
    }

    &--food {
      order: 2;
      padding-left: 40px;
      padding-right: 30px;
    }
  }

  .offers-list__icon {
    &--house {
      .size(75px, 72px);
      left: 0;
      top: -104px;
    }

    &--gifts {
      .size(64px, 75px);
      left: 20px;
      top: -108px;
    }

    &--food {
      .size(77px, 68px);
      left: -22px;
      top: -98px;
    }
  }

  .offers-list__title {
    .text-styles(21px);
  }

  .advantages__item--wrapper {
    display: flex;
    flex-wrap: nowrap;
  }

  .advantages__description--line::after {
    display: none;
  }

  .advantages__title--sub {
    color: @black;
  }
}

@media (max-width: @tablet-width-only) {
  .advantages__title--sub {
    width: 155px;
    margin: 0 auto;
  }
}

@media (min-width: @desktop-width) {
  .advantages {
    width: @desktop-width;
    margin: 0 auto;
  }

  .advantages__title {
    &--main {
      padding-left: 355px;
      padding-right: 355px;
    }

    &--town {
      width: 200px;
      margin: 0 auto;
    }
  }

  .advantages__wrapper {
    margin: 0;

    &--town {
      padding: 0;
      padding-top: 53px;
      padding-bottom: 56px;
      padding-left: 65px;
      padding-right: 65px;
    }

    &--bridge {
      padding: 0;
      padding-top: 58px;
      padding-left: 90px;
      padding-right: 90px;
    }

    &--area {
      padding: 0;
      padding-top: 50px;
      padding-left: 57px;
      padding-right: 58px;
    }

    &--road {
      padding: 0;
      padding-top: 50px;
      padding-left: 69px;
      padding-right: 69px;
    }

    &--tourists {
      padding: 0;
      padding-top: 50px;
      padding-left: 70px;
      padding-right: 70px;
    }
  }

  .advantages__container {
    &--town {
      background-image: url("../img/main-city-desktop@1x.jpg");
      background-position: 0 center;

      @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
        background-image: url("../img/main-city-desktop@2x.jpg");
      }
    }

    &--bridge {
      background-image: url("../img/main-bridge-desktop@1x.jpg");
      background-position: 0 center;

      @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
        background-image: url("../img/main-bridge-desktop@2x.jpg");
      }
    }
  }
}
