.choice-menu {
  width: auto;
  padding-top: 25px;
  margin: 0 auto;
  .text-styles(14px);
  text-align: center;
}

.choice-menu__description {
  padding-left: 28px;
  padding-right: 28px;
  margin-bottom: 40px;
}

.choice-menu__button {
  display: inline-block;
  .link-button(17px, 19px, @blue);
  padding-left: 47px;
  padding-right: 47px;
  margin-bottom: 49px;
  .text-styles(16px, @white);
  font-weight: bold;
  box-sizing: border-box;
}

.choice-menu__image--tablet,
.choice-menu__image--desktop {
  display: none;
}

@media (min-width: @tablet-width) {
  .choice-menu {
    padding-top: 57px;
  }

  .choice-menu__title {
    .text-styles(30px);
  }

  .choice-menu__description {
    padding-left: 160px;
    padding-right: 160px;
  }

  .choice-menu__image--mobile {
    display: none;
  }

  .choice-menu__image--tablet {
    display: block;
  }
}

@media (min-width: @desktop-width) {
  .choice-menu__description {
    padding-left: 383px;
    padding-right: 383px;
  }

  .choice-menu__image--tablet {
    display: none;
  }

  .choice-menu__image--desktop {
    display: block;
  }
}
