.choice-menu {
  width: 320px;
  margin: 0 auto;
  .text-styles(14px);
  text-align: center;
}

.choice-menu__description {
  width: 265px;
  padding-left: 30px;
  padding-right: 10px;
  margin-bottom: 40px;
}

.choice-menu__button {
  display: inline-block;
  .link-button(17px, 19px, @blue);
  padding-left: 47px;
  padding-right: 47px;
  margin-bottom: 49px;
  .text-styles(16px, @white);
  font-weight: bold;
  box-sizing: border-box;
}
