.footer-page {
  max-width: 320px;
  margin: 0 auto;
  margin-top: 30px;
  text-align: center;
}

.footer-page__title {
  .text-styles(21px);
  margin: 0;
  margin-bottom: 38px;
}

.footer-page__social {
  margin-bottom: 50px;
}

.footer-page__link {
  display: inline-block;
  .size(46px, 48px);
  background-color: @blue;
  position: relative;

  &--twitter::before {
    .alter;
    top: 17px;
    left: 14px;
    .size(18px, 14px);
    background-image: url("../img/icon-twitter.svg");
    background-repeat: no-repeat;
  }

  &--facebook::before {
    .alter;
    top: 14px;
    left: 19px;
    .size(9px, 18px);
    background-image: url("../img/icon-facebook.svg");
    background-repeat: no-repeat;
  }

  &--youtube::before {
    .alter;
    top: 17px;
    left: 13px;
    .size(20px, 14px);
    background-image: url("../img/icon-youtube.svg");
    background-repeat: no-repeat;
  }

  &:hover {
    background-color: @darkblue;
  }

  &:focus,
  &:active {
    background-color: rgb(84, 150, 189);
  }

  &:active::before {
    opacity: 0.3;
  }
}

.footer-page__sign {
  .text-styles(14px);
  text-decoration: none;
  padding-right: 35px;
  padding-bottom: 35px;
  position: relative;
}

.footer-page__icon--academy {
  position: absolute;
  top: -5px;
  right: 0;

  &:hover {
    fill: @blue;
  }

  &:focus,
  &:active {
    fill: @black;
    opacity: 0.3;
  }
}

@media (min-width: @tablet-width) {
  .footer-page {
    max-width: @tablet-width;
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
  }

  .footer-page__title,
  .footer-page__sign {
    align-self: center;
    margin-top: -19px;
  }
}

@media (min-width: @desktop-width) {
  .footer-page {
    max-width: 960px;
    margin-top: 102px;
    justify-content: space-between;
  }
}
