.inner-intro {
    margin: 0 auto;
    .size(320px, 168px);
    text-align: center;
    padding-top: 52px;
    box-sizing: border-box;
    position: relative;
    &::after {
        .alter;
        bottom: 0;
        left: -224px;    
        .size(768px, 389px);
        background-image: url(../img/bg-back-mobile@1x.jpg);
        z-index: -1;
    }
    &::before {
        .alter;
        bottom: 0;
        .size(320px, 26px);
        background-image: url(../img/bg-intro-triangle-mobile.svg);
        background-repeat: no-repeat;
    }
}

