@import "mixins.less";
@import "variables";
@import "blocks/main-nav.less";
@import "blocks/page-intro.less";
@import "blocks/advantages.less";
@import "blocks/footer-page.less";
@import "blocks/choice-menu.less";
@import "blocks/inner-intro.less";
@import "blocks/pictures.less";


body {
    margin: 0;
}

.main-header {
    max-width: 320px;   
    margin: 0 auto;   
}


.visually-hidden:not(focus):not(active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}





